html {}

body {
    max-width: 1669px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav {
    height: 64px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    width: 100%;
}


.logo {
    width: 70px;
    height: 50px;
}

span {
    font-weight: bold;
}

nav {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 16px;
}

ul {
    display: flex;
    font-size: 20px;


    list-style: none;
    width: ;

}

li {
    margin-left: 20px;
    margin-right: 20px;
}



/* .list {
    text-align: right;

} */

.main {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */

    /* flex-direction: row; */

    /* flex-wrap: wrap; */
    /* background: white); */
    width: 100%;
    height: 800px;
    /* border: 1px solid red; */



}

#main1 {
    background-color: rgb(230, 230, 230);
}

.secondary {
    width: 60%;
    /* display: flex; */
    max-height: 100%;
    max-width: 60%;

    /* justify-content: center; */
    /* border: 1px solid black; */
    /* object-fit: contain; */


    margin: 32px 24px 32px 24px;
    background-repeat: no-repeat;
    font-size: 25px;
    line-height: 35px;



}

h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 55px;
}

h2 {
    font-size: 28px;
}

#bannerimg {
    background-image: url("./colmar images/banner.jpg");
    /* background-position: top; */
    background-size: contain;
}

#practiceimg {
    background-image: url("./colmar images/information-main.jpg");
    background-size: contain;
    width: 1001px;
    height: 551px;
    max-width: 100%;
    background-repeat: no-repeat;

}


#practice-main {
    height: 1000px;
    display: flex;
    width: 100%;
}

.practice-text {
    justify-content: space-between;
}

.terciary {
    width: 40%;
    /* margin-left: 12px; */
    margin-top: 32px;
    margin-bottom: 34px;
    /* margin-right: 70px; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    color: rgb(70, 70, 70);
    line-height: 60px;
    /* letter-spacing: 0px; */
}

.learn {
    margin-left: 24px;
}

.O {
    display: flex;
    background-color: white;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    align-items: center;
    /* justify-content: baseline; */
    line-height: 15px;
    font-size: 15px;
    color: ;

}

.orientation-img {

    width: 35%;
    height: 90%;
    margin-left: 16px;

    background-image: url("./colmar images/information-orientation.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* align-items: center;
    display: flex; */
}

.orientation-info {
    display: flex;
    width: 65%;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 20px;






}

/* .campus {
    background-color: white;
    width: 100%;
    height: 232px;
    border: 1px solid black;
    display: flex;
    align-items: center;

} */

.campus-img {
    width: 35%;
    height: 90%;
    margin-left: 16px;
    background-image: url("/colmar images/information-campus.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.campus-info {
    display: flex;
    width: 65%;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 20px;

}

/* .lecture {
    background-color: white;
    width: 100%;
    height: 232px;
    border: 1px solid black;
    display: flex;
    align-items: center; */


.lecture-img {
    width: 35%;
    height: 90%;
    margin-left: 16px;
    background-image: url("/colmar images/information-guest-lecture.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.lecture-info {
    display: flex;
    width: 65%;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 20px;
}

#O1 {
    background-color: white;
}

#O3 {
    background-color: rgb(230, 230, 230);
}


.start {
    background-color: rgb(230, 230, 230);
}

.video {
    /* display: flex; */
}

#video {
    /* height: 100%;
    width: 100%;


 */
    width: 100%;
}

.title {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

button {
    width: 80%;
    height: 70px;
    background-color: rgb(105, 105, 105);
    color: aliceblue;
    font-size: 25px;
}

.cards-container {
    margin-left: 72px;
    margin-right: 72px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-container {
    /* border: 1px solid black; */
    width: 532px;
    margin-bottom: 32px;
    max-width: 30%;
    background-color: white;


}

.card-content {
    /* display: flex; */
    align-items: center;
    /* font-size: 24px; */
    /* font-weight: 100; */

    margin-left: 16px;
    margin-bottom: 24px;
    margin-right: 20px;

}



img {
    width: 100%;

    overflow: hidden;
}

#thesis {
    display: flex;
    justify-content: ;
    background-color: rgb(90, 14, 14);
    width: 40%;
    height: 450px;
    align-items: center;
    line-height: 15px;
    font-size: 15px;


}

.fisma {
    display: inline-flex;
    /* flex-wrap: wrap; */
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 50%;

}

.fisma-info {
    margin-right: 60px;
    line-height: 40px;
}

h3 {
    font-size: 25px;
}

.fisma-img {
    width: 35%;
    /* height: 50%; */
    background-image: url("./colmar images/thesis-fisma.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 16px 16px;
}

.now-and-then {
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;

}

.now-and-then-img {
    background-image: url("./colmar images/thesis-now-and-then.jpg");
    width: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 16px 16px;

}

.now-and-then-info {
    margin-right: 60px;
    line-height: 40px;

}

footer {
    font-size: 18px;
    border-top: 1 solid gray;
}